* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #F6FCB8;
}
.container {
	width: 50%;
	height: 100%;
	margin: 10px auto;
}
@font-face {
	font-family: myFantasyfont;
	src :url(../btss5/hlfants1.ttf);
}
img {
	float: left;
	margin-left: 10px;
	width: 100px;
	height: 100px;
}
h1 {
	color: orange;
	text-shadow: 1px 1px brown;
	margin: 20px 0 0 200px;
	font-family: myFantasyfont;
}
#h2 {
	color: green;
	margin: 20px 0 0 200px;
	font-style: italic;
}
#h22 {
	margin: 50px 0px 20px 10px;
}
ul li {
	margin: 10px 0 0 30px;
}
a.hover1:hover {
	background-color: grey;
	font-size: 30px;
}
a.hover2:hover {
	background-color: red;
	font-size: 30px;
}
a.hover3:hover {
	color: green;
	font-size: 30px;
	font-family: myfantasyfont;
}
h3 {
	margin: 20px 0 20px 10px;
}
.d1 {
	margin-left: 10px;
}
.d2 {
	text-indent: 30px;
	margin: 10px 0 10px 10px;
}
.d3 {
	font-weight: bold;
	font-size: 20px;
	margin-left: 10px;
}
.d4 {
	margin: 10px 0 10px 10px;
}
.d5 {
	text-align: right; 
	/*dùng float right sẽ bị đẩy thẻ ra ngoài*/
	font-size: 12px;
	margin-right: 20px;
/*}
header {
	height: 20%;
	background-color: #ACF4A9;
	padding-top: 10px;
}
section{
	background-color: #E7B6F0;
	padding-top: 1px;
}
footer {
	padding-top: 1px;/* lưu ý margin*
	background-color: lightblue;
}*/