*{
	margin: 0;
	padding: 0;
}
.nav {
	width: 300px;
	height: 250px;
	border: 2px solid ;
	margin: 20px auto;
	box-shadow: 4px 6px silver;
}
#nav__list h1 {
	margin: 10px 0 0 15px;
	font-size: 30px;
}
#nav__list ul {
	list-style-type: none;
}
#nav__list ul li {
	width: 200px;
	border: 2px solid blue;
	margin: 10px auto;
}
#nav__list ul li a{
	display: block;
	text-decoration: none;
	font-weight: bold;
	padding: .5em 0 .5em 1.5em;
	color: blue;
}
#nav__list ul li a:hover {
	background-color: lightblue;
}